[run]
omit =
    borax\ui\*.py
    borax\apps\festival_creator.py
    borax\calendars\datepicker.py
    borax\calendars\ui.py
[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    def print_(self):